doctype html
html(lang="en")
    include ./head.pug
        title Home
    body
        header
            if isLogged
                nav
                    input(type="checkbox" id="checkboxMenu")
                    label(for="checkboxMenu")
                        i.fa-solid.fa-bars#openMenu
                        i.fa-solid.fa-xmark.hidden#closeMenu
                    ul.menu
                        li: a(href="/") Home
                        li: a(href="/profile") Profile
                        if role === 'admin'
                            li: a(href='/dashboard') Dashboard
                        else if role === 'user'
                            li: a(href='/favorites') Favorites
                        button#logOut LOGOUT
            else
                div#divUser
                    button#logIn LOGIN
                    button#signUp SIGN UP
        main
            div
            div#popupAddOffer.popup
                div.popup-content
                    span.close#closePopupAddOffer <i class="fa-solid fa-xmark"></i>
                    h2 Create a job offer
                    form#formNewOffer(action="/api/ads" method="POST")
                        div
                            label(for="title") Title:
                            input(type="text" name="title" placeholder="Title" required)
                        div
                            label(for="description") Description:
                            input(type="text" name="description" placeholder="Description" required)
                        div
                            label(for="website") Website:
                            input(type="text" name="website" placeholder="Website" required)
                        //- PONER AQUÍ LOS DOCUMENTOS DE MONGODB
                        input.button(type="submit" value="CREATE JOB OFFER")
                        .warningDiv
            section.divTitle
                h1 Your Job Offers
                div#buttonsDashboard
                    button#addOffer Add an offer <i class="fa-solid fa-plus"></i>
                    button#refreshOffers Refresh offers <i class="fa-solid fa-arrows-rotate"></i>
            section#divDashboard
        script(src="/js/script.js")
        script(src="/js/adminScript.js")