doctype html
html(lang="en")
  include ./head.pug
    title Home
  body
    header
        if isLogged
            nav
              input(type="checkbox" id="checkboxMenu")
              label(for="checkboxMenu")
                  i.fa-solid.fa-bars#openMenu
                  i.fa-solid.fa-xmark#closeMenu.hidden
              ul.menu
                  li: a(href="/") Home
                  li: a(href="./profile") Profile
                  if role === 'admin'
                      li: a(href='/admin/dashboard') Dashboard
                  else if role === 'user'
                      li: a(href='/favorites') Favorites
                  button#logOut LOGOUT
        else
          div#divUser
            button#signup Sign Up
            button#login Log In  
    body  
      section#divFavorites      
    script(src="/js/script.js")
