doctype html
html(lang="en")
  include ./head.pug
    title Home
  body
    header
        if isLogged
            nav
                label(for="checkboxMenu")
                    i.fa-solid.fa-bars#openMenu
                    i.fa-solid.fa-xmark#closeMenu.hidden
                ul.menu
                    li: a(href="./profile") Profile
                    if role === 'admin'
                        li: a(href='/admin/dashboard') Dashboard
                    else if role === 'user'
                        li: a(href='/favorites') Favorites
                    button#logOut LOGOUT
        else
            div#divUser
              button#signup Sign Up
              button#login Log In  
    main
      form(action="/" method="post")
        input(name="city" type="text" class="ghost-input" placeholder="Search for job offers!" required)
        input(type="submit" class="search" value="SEARCH")
      section
          article.homeArticle
            img(src="" alt="")
            h2 Oferta de trabajo
            ul
              li Description
              li URL
              li Date
            if scrapping
                button#viewOffer VIEW OFFER
    script(src="/js/script.js")
