doctype html
html(lang="en")
  include ./head.pug
    title Home
  body
    header
        if isLogged
            nav
                label(for="checkboxMenu")
                    i.fa-solid.fa-bars#openMenu
                    i.fa-solid.fa-xmark#closeMenu.hidden
                ul.menu
                    li: a(href="./profile") Profile
                    if role === 'admin'
                        li: a(href='/admin/dashboard') Dashboard
                    else if role === 'user'
                        li: a(href='/favorites') Favorites
                    button#logOut LOGOUT
        else
            div#divUser
              button#signup Sign Up
              button#login Log In  
    body  
      section
          article.offerArticle
            div
              h2 Oferta de trabajo
              div.divStars
                i.fa-solid.fa-star
                i.fa-regular.fa-star
            div
              ul
                li Description
                li URL
                li Date
              if scrapping
                button#viewOffer VIEW OFFER
          article.offerArticle
            div
              h2 Oferta de trabajo
              div.divStars
                i.fa-solid.fa-star
                i.fa-regular.fa-star
            div
              ul
                li Description
                li URL
                li Date
              if scrapping
                button#viewOffer VIEW OFFER
          article.offerArticle
            div
              h2 Oferta de trabajo
              div.divStars
                i.fa-solid.fa-star
                i.fa-regular.fa-star
            div
              ul
                li Description
                li URL
                li Date
              if scrapping
                button#viewOffer VIEW OFFER
    script(src="/js/script.js")
