doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    script(src="https://kit.fontawesome.com/415eb65d7d.js" crossorigin="anonymous")
    //- Google Fonts
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;600;700;800&display=swap", rel="stylesheet")

    title Home
  body
    header
        if isLogged
            nav
                label(for="checkboxMenu")
                    i.fa-solid.fa-bars#openMenu
                    i.fa-solid.fa-xmark#closeMenu.hidden
                ul.menu
                    li: a(href="./profile") Profile
                    if role === 'admin'
                        li: a(href='/admin/dashboard') Dashboard
                    else if role === 'user'
                        li: a(href='/favorites') Favorites
                    button#logOut LOGOUT
        else
            div#divUser
                button#signup Sign Up
                button#login Log In    
    main
      // Popup de SignUp/Login
      div#popupSignUp.popup
          div.popup-content
              span.close#closePopupSignUp <i class="fa-solid fa-xmark"></i>
              form#formSignUp(action="#" method="POST")
                h2 Sign Up Form
                div
                    label(for="signUpEmail") Email:
                    input#signUpEmail(type="email" name="name" placeholder="Your email goes here" required)
                div
                    label(for="signUpPass") Password:
                    input#signUpPass(type="password" name="pass" placeholder="Your password goes here" required)
                input.button(type="submit" value="CREATE ACCOUNT")
                .warningDiv
      // Popup Login
      #popupLogin.popup
        .popup-content
            span.close#closePopupLogin <i class="fa-solid fa-xmark"></i>
            form#formLoginn(action="#" method="POST")
              h2 Login Form
              div
                  label(for="loginEmail") Email:
                  input#loginEmail(type="email" name="email" placeholder="Your email goes here" required)
              div
                  label(for="loginPass") Password:
                  input#loginPass(type="password" name="pass" placeholder="Your password goes here" required)
              input.button(type="submit" value="LOGIN")
      section#divFormHome
        form(action="/" method="post")
          input(name="search" type="text" placeholder="Search for job offers!" required)
          input(type="submit" class="search" value="SEARCH")
      section
          article.homeArticle
            div
              h2 Oferta de trabajo
              div.divStars
                i.fa-solid.fa-star
                i.fa-regular.fa-star
            div
              ul
                li Description
                li URL
                li Date
              if scrapping
                button#viewOffer VIEW OFFER
          article.homeArticle
            div
              h2 Oferta de trabajo
              div.divStars
                i.fa-solid.fa-star
                i.fa-regular.fa-star
            div
              ul
                li Description
                li URL
                li Date
              if scrapping
                button#viewOffer VIEW OFFER
          article.homeArticle
            div
              h2 Oferta de trabajo
              div.divStars
                i.fa-solid.fa-star
                i.fa-regular.fa-star
            div
              ul
                li Description
                li URL
                li Date
              if scrapping
                button#viewOffer VIEW OFFER
  script(src="/js/script.js")
