doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    script(src="https://kit.fontawesome.com/415eb65d7d.js" crossorigin="anonymous")
    title HELLO WORLD!
  body
    header
        if isLogged
            nav
                input(type="checkbox" id="checkboxMenu")
                label(for="checkboxMenu")
                    i.fa-solid.fa-bars#openMenu
                    i.fa-solid.fa-xmark.hidden#closeMenu
                ul.menu
                    li: a(href="./profile.html") Profile
                    if role === 'admin'
                        li: a(href='/admin/dashboard') Dashboard
                    else if role === 'user'
                        li: a(href='/favorites') Favorites
                    button#logOut LOGOUT
        else
            div#divUser
                button#logIn LOGIN
                button#signUp SIGN UP

    main
      form(action="/" method="post")
        input(name="city" type="text" class="ghost-input" placeholder="Search for job offers!" required)
        input(type="submit" class="search" value="SEARCH")
      section
          article.homeArticle
            img(src="" alt="")
            h1 #{ article % 2 == 0 ? 'HECHA POR ADMIN' : 'VIENE DE SCRAPPING' }
            ul
              li Description
              li URL
              li Date
            if article % 2 != 0
              button#viewOffer VIEW OFFER
    script(src="/public/js/script.js")
