doctype html
html(lang="en")
  include ./head.pug
    title Home
  body
    header
        if isLogged
            nav
                input(type="checkbox" id="checkboxMenu")
                label(for="checkboxMenu")
                  i.fa-solid.fa-bars#openMenu
                  i.fa-solid.fa-xmark#closeMenu.hidden
                ul.menu
                    li: a(href="./profile") Profile
                    if role === 'admin'
                        li: a(href='/admin/dashboard') Dashboard
                    else if role === 'user'
                        li: a(href='/favorites') Favorites
                    button#logOut LOGOUT
        else
            div#divUser
              button#signup Sign Up
              button#login Log In    
    main
      // Popup de SignUp/Login
      div#popupSignUp.popup
          div.popup-content
              span.close#closePopupSignUp <i class="fa-solid fa-xmark"></i>
              form#formSignUp(action="/" method="POST")
                h2 Sign Up Form
                div
                    label(for="signUpUsername") Username:
                    input#signUpEmail(type="text" name="username" placeholder="Your username goes here" required)
                div
                    label(for="signUpEmail") Email:
                    input#signUpEmail(type="email" name="email" placeholder="Your email goes here" required)
                div
                    label(for="signUpPass") Password:
                    input#signUpPass(type="password" name="pass" placeholder="Your password goes here" required)
                div
                  label(for="signUpImg") URL Image:
                  input#signUpPass(type="text" name="img" placeholder="Put your URL image" required)
                div
              a(href="/google")
                  button#googleButton 
                    img(src="../assets/google_icon.png", alt="Google Icon")
                    p Sign Up with Google
                  input.button(type="submit" value="CREATE ACCOUNT")
                  .warningDiv
      // Popup Login
      #popupLogin.popup
        .popup-content
            span.close#closePopupLogin <i class="fa-solid fa-xmark"></i>
            form#formLoginn(action="#" method="POST")
              h2 Login Form
              div
                  label(for="loginEmail") Email:
                  input#loginEmail(type="email" name="email" placeholder="Your email goes here" required)
              div
                  label(for="loginPass") Password:
                  input#loginPass(type="password" name="pass" placeholder="Your password goes here" required)
              input.button(type="submit" value="LOGIN")
      if role !== 'admin'
        section#divFormHome
          form(action="/" method="post" id="formResults")
            input(name="search" type="text" placeholder="Search for job offers!" required)
            input(type="submit" class="search" value="SEARCH")
        section#divResults
      else
        section#divAdmin 
          a(href='/users').button
            i.fa-solid.fa-users 
            h2 Users
          a(href='/dashboard').button
            i.fa-solid.fa-solar-panel   
            h2 Dashboard
            

  script(src="/js/script.js")
