<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Librería de iconos -->
  <script src="https://kit.fontawesome.com/415eb65d7d.js" crossorigin="anonymous"></script>
    <title>HELLO WORLD!</title>
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="checkboxMenu">
            <label for="checkboxMenu">
                <!-- Iconos de menú hamburguesa-->
                <i class="fa-solid fa-bars" id="openMenu"></i>
                <i class="fa-solid fa-xmark" id="closeMenu" class="hidden"></i>
            </label>
            <ul class="menu">
                <li><a href="./profile.html">Profile</a></li>
                <li><a href="./dashboard.html">Dashboard</a></li>
                <li><a href="./logout.html">Logout</a></li>
            </ul>
        </nav>
        <div>
            LOGO
        </div>
        <div></div>
    </header>
    <main>
        <!-- PREGUNTAR: Método? Porque recarga la página en JS -->
        <form action="/" method="post"> 
            <input name="city" type="text" class="ghost-input" placeholder="Search for job offers!" required>
            <input type="submit" class="search" value="SEARCH">
        </form>
        <section>
            <article class="homeArticle">
                <img src="" alt="">
                <h1>VIENE DE SCRAPPING</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
                <button id='viewOffer'>VIEW OFFER</button>
            </article>
            <article class="homeArticle">
                <img src="" alt="">
                <h1>HECHA POR ADMIN</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
            </article>
            <article class="homeArticle">
                <img src="" alt="">
                <h1>VIENE DE SCRAPPING</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
                <button id='viewOffer'>VIEW OFFER</button>
            </article>
            <article class="homeArticle">
                <div class="color"></div>
                <h1>VIENE DE SCRAPPING</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
                <button id='viewOffer'>VIEW OFFER</button>
            </article>
            <article class="homeArticle">
                <img src="" alt="">
                <h1>HECHA POR ADMIN</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
            </article>
            <article class="homeArticle">
                <img src="" alt="">
                <h1>HECHA POR ADMIN</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
            </article>
        </section>
    </main>
    <script src="/public/js/script.js"></script>
</body>

</html>