<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>HELLO WORLD!</title>
</head>

<body>
    <header>
        <div>

        </div>
        <div>
            <p>LOGO</p>
        </div>
        <div id='divUser'>
            <button id='logIn'>LOGIN</button>
            <button id='signUp'>SIGN UP</button>
        </div>
    </header>
    <main>
        <!-- PREGUNTAR: Método? Porque recarga la página en JS -->
        <form action="/" method="post"> 
            <input name="city" type="text" class="ghost-input" placeholder="Search for job offers!" required>
            <input type="submit" class="search" value="SEARCH">
        </form>
        <section>
            <article class="homeArticle">
                <img src="" alt="">
                <h1>VIENE DE SCRAPPING</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
                <button id='viewOffer'>VIEW OFFER</button>
            </article>
            <article>
                <img src="" alt="">
                <h1>HECHA POR ADMIN</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
            </article>
            <article>
                <img src="" alt="">
                <h1>VIENE DE SCRAPPING</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
                <button id='viewOffer'>VIEW OFFER</button>
            </article>
            <article>
                <div class="color"></div>
                <h1>VIENE DE SCRAPPING</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
                <button id='viewOffer'>VIEW OFFER</button>
            </article>
            <article>
                <img src="" alt="">
                <h1>HECHA POR ADMIN</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
            </article>
            <article>
                <img src="" alt="">
                <h1>HECHA POR ADMIN</h1>
                <ul>
                    <li>Description</li>
                    <li>URL</li>
                    <li>Date</li>
                </ul>
            </article>
        </section>
    </main>

</body>

</html>