<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Librería de iconos -->
  <script src="https://kit.fontawesome.com/415eb65d7d.js" crossorigin="anonymous"></script>
    <title>HELLO WORLD!</title>
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="checkboxMenu">
            <label for="checkboxMenu">
                <!-- Iconos de menú hamburguesa-->
                <i class="fa-solid fa-bars" id="openMenu"></i>
                <i class="fa-solid fa-xmark" id="closeMenu" class="hidden"></i>
            </label>
            <ul class="menu">
                <li><a href="./homeUserLogged.html">Home</a></li>
                <li><a href="./homeUserLogged.html">Home</a></li>
                <li><a href="./profile.html">Profile</a></li>
                <li><a href="./favorites.html">Favorites</a></li>
                <li><a href="./logout.html">Logout</a></li>
            </ul>
        </nav>
        <div>
            LOGO
        </div>
        <div></div>
    </header>
    <main> 
        <section class="profileSection">
            <article class="profileArticle">
                <div>
                    <h1>Your profile</h1>
                    <div id="divImg">
                        <img src="../public/assets/img_prueba.jpg" alt="">
                    </div>                    
                </div>
                <div>
                    <ul>
                        <li>Description</li>
                        <li>URL</li>
                        <li>Date</li>
                    </ul>
                    <button id='viewOffer'>EDIT PROFILE</button>
                </div>
            </article>      
        </section>
    </main>
    <script src="/public/js/script.js"></script>
</body>

</html>