doctype html
html(lang="en")
  include ./head.pug
    title Users
  body
    header
        if isLogged
            nav
                input(type="checkbox" id="checkboxMenu")
                label(for="checkboxMenu")
                    i.fa-solid.fa-bars#openMenu
                    i.fa-solid.fa-xmark.hidden#closeMenu
                ul.menu
                    li: a(href="/") Home
                    if role === 'admin'
                        li: a(href='/admin/dashboard') Dashboard
                    else if role === 'user'
                        li: a(href='/favorites') Favorites
                    button#logOut LOGOUT
    main
        h1 Users
        section.usersSection#divAllUsers
    script(src="/js/script.js")
