* {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

:root {
    --purple: #3f3752;
    --gradient1: linear-gradient(129deg, rgba(36, 224, 201, 1) 0%, rgba(130, 120, 231, 1) 100%);
    --gradient1-pale: linear-gradient(129deg, rgb(94, 231, 215) 0%, rgb(172, 166, 237) 100%);
    --gradient2: linear-gradient(129deg, rgb(7, 203, 180) 0%, rgb(93, 81, 222) 100%);
    --black: #1d1d1d;
    --white: #fff;
    --white-opacity: rgba(255, 255, 255, 0.23);
    --white-opacity-2: rgba(255, 255, 255, 0.348);
}

body {
    background: var(--gradient1);
    background-size: cover;
    background-repeat: none;
    height: 100%;
    padding: 0px 10%;
}

main {
    padding-bottom: 30px;
}

header {
    padding: 10px 0px;
}

header i {
    color: white;
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

li a {
    color: var(--white);
}

#divUser {
    display: flex;
    gap: 20px;
    justify-content: end;
}

#divUser button {
    width: 160px;
}

#divFormHome form {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

#divFormHome input:first-child {
    width: 220px;
}

.divTitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.hidden {
    /* display: none; */
    display: none !important;
}



section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.offerArticle {
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offerArticle>div:first-child>div:first-child>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.date {
    color: gray;
}

.profileArticle {
    border-radius: 12px;
    padding: 40px 60px;
    width: 400px;
    background-color: var(--white-opacity-2);
    display: flex;
    align-items: end;
    gap: 36px;
}

.profileArticle>div:nth-child(2) {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.profileArticle ul {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.profileArticle li {
    display: flex;
    flex-direction: column;
    gap: 6px
}

.profileArticle div:last-child {
    display: flex;
    align-items: start;
    gap: 6px;
}

.profileArticle p {
    color: rgba(0, 0, 0, 0.538)
}

.usersArticle {
    border-radius: 6px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.homeArticle {
    border-radius: 6px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.usersArticle #divImg {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.usersArticle img {
    height: 100%;
    object-fit: cover;
}

article>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#addOffer, #refreshOffers {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}

#buttonsDashboard {
    display: flex;
    gap: 20px;
}

#googleButton {
    color: var(--black);
    background: var(--white);
    box-shadow: 2px 2px 10px rgb(195, 195, 195);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 16px;
}

#formSignUp div:nth-child(6) {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

#googleButton img {
    height: 20px;
}

#divImg {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profileArticle img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.heartButtonEmpty, .heartButtonFull {
    background: var(--white);
    color: var(--black);
}

.heartButtonEmpty i,
.heartButtonFull i {
    font-size: 20px;
}

.heartButtonFull:hover,
.heartButtonEmpty:hover {
    background: white;
    color: black;
}

.eraseOffer, .eraseUser {
    background: var(--black);
    color: var(--white);
}

button,
.button {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    background: var(--white-opacity);
    padding: 9px;
    border-radius: 8px;
    border: none;
    height: 42px;
    transition: 0.3s;
}

button:hover,
.button:hover {
    font-size: 14.5px;
    cursor: pointer;
    background: var(--black);
}

.squareBtn {
    width: 34px;
    height: 34px;
    width: inherit;
    background: var(--black);
}

.squareBtn:hover {
    font-size: inherit;
    cursor: pointer;
}

#divAdmin {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#divAdmin a {
    padding: 30px 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#divAdmin i {
    font-size: 46px;
}

#divAdmin h2 {
    color: var(--white);
    -webkit-text-fill-color: var(--white);
}

.offerArticle div:first-child,
.favoritesArticle div:first-child {
    display: flex;
}

/* Menú hamburguesa */

.menu {
    margin-left: 20px;
    padding: 18PX 20px;
    position: fixed;
}

header nav ul {
    list-style: none;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

header nav img {
    height: 26px;
    margin-top: 20px;
}

header nav ul,
header nav input {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in-out;
}

header nav input:checked~ul {
    visibility: visible;
    opacity: 100;
}

h1 {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    background: var(--gradient2);
    /* Establecer el fondo del texto */
    -webkit-background-clip: text;
    /* Clip del fondo en el texto para WebKit */
    background-clip: text;
    /* Propiedad estándar para otros navegadores */
    -webkit-text-fill-color: transparent;
    /* Hacer que el texto sea transparente para WebKit */
}

/* -------------------- POPUP -------------------- */

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    /* Asegura que el popup esté encima */
}

.popup-content {
    background-color: white;
    margin: 120px auto;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    position: relative;
}

.popup-content h2 {
    padding-top: 8px;
    color: var(--black);
}

.popup-content .button {
    background: var(--black);
}

.viewOfferButton {
    background: var(--black);
    display: block;
    font-size: 14px;
    width: 115px;
    height: 25px;
    background: var(--black);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
    line-height: 25px;
    transition: 0.3s;
    margin-top: 20px;
}

.viewOfferButton:hover {
    font-size: 15px;
    cursor: pointer;
}

.blackButton {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    background: var(--white-opacity);
    padding: 9px;
    border-radius: 8px;
    border: none;
    height: 42px;
    transition: 0.3s;
}

.blackButton:hover {
    font-size: 14.5px;
    cursor: pointer;
    background: var(--black);
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--purple);
}

form label,
form>input {
    margin-top: 16px;
}

.popup-content div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.warning {
    color: red;
    font-weight: 600;
    padding-top: 12px;
}